<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenCV Live Stream</title>
</head>
<body>
    <img id="video-feed">
    <img id="doll-canvas">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
    const socket = io();
    const videoFeed = document.getElementById('video-feed');
    const dollCanvas = document.getElementById('doll-canvas');
    socket.on('video_frame', function(data) {
          videoFeed.src = "data:image/jpeg;base64," + data;
       });
    socket.on('doll_frame', function(data) {
           dollCanvas.src = "data:image/jpeg;base64," + data;
        });
  </script>
</body>
</html>